*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #717088;
    
}

body > div{
    background-color: #9594A6;
    max-width: 736px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
 }
button {
padding: 15px;
border: 10px;
font-size: 20px;
text-align: center;
border-radius: 10PX;
background-color: rgb(122, 161, 192);
color: #fff;
margin-top: 20px;
justify-content: center;
transition: 0.5s;
}
